body,html{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  background:url(images/pic03.jpg);
  background-size:cover;

}
#im{
  position:relative;
  margin:0 auto;
  width:100%;
  max-width:600px;
  height:100%;
  box-sizing:border-box;
  background:rgba(0,0,0,.4);
}
#centertest{
  margin:0px auto;
  text-align:center;
}

/*到這裡*/
#input{
  position:absolute;
  z-index:2;
  height:100px;
  width:100%;
  left:0;
  margin:0;
  top:535px;
  padding:15px;
  box-sizing:border-box;
  background:rgba(14, 13, 13, 0.637);

}

#input input, #input span{
  position: relative;
  top: 10px;
  display:inline-block;
  margin:5px 0;
}

#input input{
  width:65%;
  border:none;
  padding:5px;
}

#input span{
  width:30%;
  min-width:55px;
  color: rgb(202, 199, 199);
}

#input div{
  width:80%;
  float:left;
}

#input button{
  float:right;
  height:90%;
  width:20%;
  margin:5px 0;
  border:none;
  padding:0;
  background:#369;
  font-size:16px;
  color:#fff;
}

#show{
  position:absolute;
  top:35px;
  left:0;
  z-index:1;
  width:100%;
  height:500px;
  overflow-y:scroll;
  padding:20px;
  box-sizing:border-box;
  background-color: rgba(46, 45, 45, 0.877);
}

#show>div{
  position:relative;
  margin:0 0 20px 0;
  clear:both;
  height:40px;
}

#show>div>div{
  display:inline-block;
}

#show .time{
  position:absolute;
  top:-2px;
  font-size:10px;
  color:#777;
}

#show .name{
  color:#fff;
  vertical-align:middle;
}

#show .content{
  background:rgba(255,255,255,.8);
  padding:10px;
  margin-top:15px;
  margin-left:10px;
  border-radius:5px;
  vertical-align:middle;
}

#show::-webkit-scrollbar {
  width:10px;
}
#show::-webkit-scrollbar-track {
  background:rgba(255,255,255,.1);
  border-radius: 10px;
}
#show::-webkit-scrollbar-thumb {
  background:rgba(255,255,255,.2);
  border-radius: 2px;
}